.card-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1000px;
}

.word-card {
  background-color: var(--background-color);
  border-radius: 20px;
  padding: 50px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  text-align: center;
  font-size: 24px;
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-style: preserve-3d;
  width: 240px;
  height: 240px;
}

.word-card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.card-face.front {
  background-color: var(--background-color);
}

.card-face.back {
  background-color: var(--background-color-alt);
  transform: rotateY(180deg);
}

.word-card.slide-out-left {
  animation: slideOutLeft 0.5s forwards;
}

.word-card.slide-out-right {
  animation: slideOutRight 0.5s forwards;
}

.word-card.slide-in-left {
  animation: slideInLeft 0.5s forwards;
}

.word-card.slide-in-right {
  animation: slideInRight 0.5s forwards;
}

.play-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  align-items: center;
}

.top-bar img {
  cursor: pointer;
}

.flip-icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

.swipe-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swipe-buttons {
  display: flex;
  gap: 10px;
}

.swipe-buttons button {
  padding: 10px;
}

.counters {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.counter {
  position: absolute;
  padding: 15px 40px;
}

.unknown-words-counter {
  left: 0;
  border: 1px solid red;
  border-radius: 0 20px 20px 0;
}

.known-words-counter {
  right: 0;
  border: 1px solid green;
  border-radius: 20px 0 0 20px;
}

.game-navigation-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chart-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.retry-button {
  padding: 10px;
}
