.home-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.collection-card {
    border:1px solid lightgray;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 20px;
}

.collection-card:hover {
    background-color: aliceblue;
}

.collection-name {
    margin-bottom: 7px;
}