* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  font-family: "Adamina", serif;
  font-weight: 400;
  font-style: normal;
}

img {
  cursor: pointer;
}

.link-btn {
  background: none;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.container {
  margin: 60px 12px;
  height: calc(100vh - 120px);
  box-sizing: border-box;
}

input {
  width: 100%;
  font-size: 20px;
  outline: none;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid lightgray;
}

input:focus {
  outline: none;
}

.back-btn-container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-back {
  background: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
}
