* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  font-family: "Adamina", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 60px 12px;
  height: calc(100vh - 120px);
  box-sizing: border-box;
}
