.wordTypeButtons {
  display: flex;
  gap: 0;
  border-radius: 20px;
}

.wordTypeButtons button {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 15px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: var(--text-color);
}

button.selected {
  background-color: var(--border-color);
}

.add-word-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-word-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.required-input {
  border: 2px solid red;
}
